.blogpost {
  width: 100%;
  text-align: center;
  margin: calc(35% * 1px);
}

.blogpost h4 {
  margin-bottom: 0px;
}

.blogpost a:hover {
  text-decoration: underline;
}

.blogpost img {
  width: 40%;
}
