.blogpost {
  width: 100%;
  text-align: center;
  margin: calc(35% * 1px);
}

.blogpost h4 {
  font-size: 1em;
  margin-bottom: 0px;
}

.blogpost a:hover {
  text-decoration: underline;
}

.blogpost img {
  width: 40%;
}

.tag {
  font-size: 1rem;
}
