.title {
  /*margin: 15px;*/
  margin: 1.25%;
  /*line-height: 1.15;*/
  font-size: 2.5em;
}
.title,
.description {
  text-align: center;
}

.title a {
  color: #3f51b5;
}

.title a:hover {
  text-decoration: underline;
}
